.form-wrapper {
	position: relative;
	width: 100vw;
	height: 85vh;
}

.login {
	overflow: hidden;
	background: var(--color-dark);
	padding: 40px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 600px;
	transform: translate(-50%, -90%);
	transition: transform 300ms, box-shadow 300ms;
	box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.35),
		-5px -5px 20px 0px rgba(79, 85, 92, 0.1);

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 600px;
		height: 600px;
		border-top-left-radius: 40%;
		border-top-right-radius: 45%;
		border-bottom-left-radius: 35%;
		border-bottom-right-radius: 40%;
		z-index: -1;
	}

	&::before {
		left: 35%;
		bottom: -130%;
		background: rgba(0, 0, 0, 0.15);
		animation: wawes 6s infinite linear;
	}

	&::after {
		left: 55%;
		bottom: -125%;
		background: rgba(0, 0, 0, 0.2);
		animation: wawes 7s infinite;
	}

	input {
		display: block;
		border-radius: 5px;
		font-size: 16px;
		background: white;
		width: 100%;
		border: 0;
		padding: 10px 10px;
		margin: 15px -10px;
	}

	.submit-btn {
		cursor: pointer;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		width: 80px;
		border: 0;
		padding: 10px 0;
		margin-top: 10px;
		margin-left: -5px;
		border-radius: 5px;
		background-color: var(--color-orange);
		transition: background-color 300ms;

		&:hover {
			background-color: var(--color-dark-orange);
			color: #fff;
		}
	}

	.btn-disabled {
		pointer-events: none;
		background-color: var(--color-grey);
		color: var(--subtitle);
	}
}

.message {
	background: transparent;
	color: var(--color-orange);
}

@keyframes wawes {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
