.selectedMedia-wrapper {
    padding: 0 3.5vw;
    display: grid;
    grid-template-areas:
        "progressbar progressbar progressbar progressbar"
        "now-playing button-group button-group button-group";
}

.progress-wrapper {
    grid-area: progressbar;
    display: flex;
    align-items: center;
    gap: 1em;

    #timestamp {
        margin-bottom: 1.5rem;
    }

    #progressbar {
        height: 5px;
    }

    .is-orange::-webkit-progress-value {
        background: linear-gradient(90deg, #ff611a 0%, #cb340d 82.68%);
    }
}

.now-playing-wrapper {
    grid-area: now-playing;

    display: grid;
    grid-template-areas:
        "medium-art ."
        "medium-art medium-album"
        "medium-art medium-title"
        "medium-art medium-artist"
        "medium-art .";

    p {
        text-align: center;
    }
}

.medium {
    &-art {
        grid-area: medium-art;
        position: inherit;
        width: 128px;
        height: 128px;
        border: 2px solid;
        border-image-source: linear-gradient(
            141.17deg,
            #41464b 16.39%,
            #1a1b1f 86.27%
        );
        border-radius: 100%;
        box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.3),
            -8px -8px 20px 0px rgba(122, 134, 151, 0.15);
    }

    &-album {
        grid-area: medium-album;
    }

    &-title {
        grid-area: medium-title;
        color: var(--color-orange);
        filter: blur(0.75px);
    }

    &-artist {
        grid-area: medium-artist;
        color: var(--color-grey);
    }
}

.buttons-wrapper {
    padding-left: 8vw;
    grid-area: button-group;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-self: center;

    .icon {
        &-play,
        &-pause,
        &-previous,
        &-next,
        &-shuffle,
        &-volume {
            justify-self: center;
            align-self: center;
        }

        &-play,
        &-pause {
            width: 75px;
            height: 75px;
            background-color: var(--color-orange);

            &:hover {
                background-color: lighten(#ea5110, 5%);
            }
        }

        &-shuffle {
            grid-column: 9 / span 1;
        }
    }
}
