.wrapper {
	grid-area: progressbar;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;

	.timestamp {
		margin-bottom: 1.5rem;
		display: none;
	}

	.progressbar {
		height: 5px;
	}

	.progressbar:hover {
		cursor: pointer;
	}

	.shown {
		display: block;
	}

	.isOrange::-webkit-progress-value {
		background: linear-gradient(90deg, #ff611a 0%, #cb340d 82.68%);
	}

	@media screen and (max-width: 768px) {
		// display: grid;
		// justify-items: center;

		.timestamp {
			display: none;
		}

		// .progressbar {
		// 	width: 80vw;
		// }
	}
}
