.wrapper {
	grid-area: progressbar;
	display: flex;
	align-items: center;
	gap: 1em;

	#timestamp {
		margin-bottom: 1.5rem;
	}

	#progressbar {
		height: 5px;
	}

	.isOrange::-webkit-progress-value {
		background: linear-gradient(90deg, #ff611a 0%, #cb340d 82.68%);
	}
}
