.wrapper {
	padding: 0 2.5vw;

	.divider {
		position: relative;
		width: 146px;
		height: 7px;
		left: 50%;
		top: 0;
		transform: translateX(-50%);

		background: #272c32;
		box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.593231);
		border-radius: 2px;
	}

	.mediaList {
		margin: 3vh 1em;

		.item {
			background-color: transparent;
			color: var(--subtitle);
			border-radius: 0;
			box-shadow: none;
			border-top: none;
			width: 100%;
			height: 7vh;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			align-items: center;
			grid-gap: 1.125rem;
		}

		@media screen and (max-width: 768px) {
			.item {
				display: flex;
			}
		}

		.title,
		.subtitle {
			margin-bottom: 0;
		}

		.title {
			grid-column: 2 / 4;
			color: var(--title);
		}

		.subtitle {
			grid-column: 4 / 6;
			margin-top: 0;
		}

		.likeBtn,
		.playBtn,
		.pauseBtn {
			color: var(--color-grey);
		}

		.likeBtn {
			grid-column: 11 / 12;
		}

		.likeBtnActive {
			color: red;
		}

		.playBtnActive,
		.pauseBtnActive {
			background: var(--color-orange);
			color: whitesmoke;
		}
	}
}
