@import "./styles/header.scss";

:root {
    --color-dark: #2a2e34;
    --color-dark-lighten: lighten(var(var(--color-dark)));
}

.app {
    height: 100vh;
    overflow-x: hidden;
    padding: 3vh 5vw;
}
