@import "./styles/header.scss";
@import "./styles/mediaList.scss";
@import "./styles/selectedMedia.scss";

:root {
    --color-dark: #2a2e34;
    --color-dark-lighten: lighten(var(var(--color-dark)));
    --color-grey: #727579;
    --color-orange: #ea5110;
    --subtitle: #999999;
    --title: lighten(var(#999999, 20%));
}

.app {
    overflow: hidden;
}

.main {
    position: relative;
    width: 100%;
    height: calc(100vh - 137px);
    left: 0px;

    background: linear-gradient(146.6deg, #1f2328 12.49%, #17191d 81%);
    box-shadow: -8px -8px 20px rgba(42, 46, 53, 0.58886),
        3px 8px 20px rgba(0, 0, 0, 0.353065);
    border-radius: 37px 37px 0px 0px;
}
